doctype html
html
    head
        title Ses

        link(rel="stylesheet", href="styles.css")

        script(src="jquery-2.1.1.min.js")

        script(type="text/javascript" src="scripts.js")
        
        script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzRsVvmQQtWRamnM2MzGqEOenyj4U9Jdo")

    body
       div(id='map-canvas')

       div(id='news')
